.material-button {
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 20%;
}

.options {
    position: fixed;
    z-index: 1000;
    bottom: 70px;
    right: 10%;
}

.options-mobile {
    right: 15%;
}

.options-desktop {
    right: 30%;
}

.button-mobile {
    left: 80%;
    transform: translateX(-50%);
    position: fixed;
    z-index: 10;
    bottom: 20px;
}

.button-desktop {
    right: 15%;
}