<div *ngIf="optionsShowing === true" class="options" ngClass.lt-md="options-mobile" ngClass.gt-sm="options-desktop">
    <ng-content class="options"></ng-content>
</div>

<div fxLayout class="material-button" ngClass.gt-sm="button-desktop" ngClass.lt-md="button-mobile">
    <div fxFlex></div>
    <button mat-fab (click)="toggle()">
        <mat-icon *ngIf="optionsShowing === false">add</mat-icon>
        <mat-icon *ngIf="optionsShowing === true">clear</mat-icon>
    </button>
</div>