<mat-card>
	<mat-card-header>
		<mat-card-title
			><strong><h1>Register</h1></strong></mat-card-title
		>
		<mat-card-subtitle>create an account</mat-card-subtitle>
	</mat-card-header>

	<mat-divider></mat-divider>

	<br />

	<mat-card-content>
		<h2 *ngIf="permissions.role === 'admin'">User Auth Data</h2>
		<app-form-group [config]="authFormConfig" (submit)="authFormChanged($event)"> </app-form-group>

		<div *ngIf="permissions.role === 'admin'">
			<div fxLayout="column">
				<h2>Permissions</h2>
				<app-form-group [config]="permissionsFormConfig" (submit)="permissionsFormChanged($event)">
				</app-form-group>
			</div>

			<div fxLayout="column">
				<h2>Profile</h2>
				<app-form-group [config]="profileFormConfig" (submit)="profileFormChanged($event)"> </app-form-group>
			</div>
		</div>
	</mat-card-content>

	<mat-card-actions fxLayout>
		<button mat-raised-button color="primary" [disabled]="!valid" (click)="registerUser()">
			Register
		</button>

		<button mat-button routerLink="/user/login">Login</button>
	</mat-card-actions>
</mat-card>
