<div fxLayout fxLayoutAlign="start end" class="component-header">
    <div fxFlex="5"></div>
    <div fxFlex class="center" *ngFor="let time of times; index as i">
        {{ times[i] }}pm
    </div>
</div>

<div class="component-main" fxLayout="column">
    <div *ngFor="let day of days; index as i"
        #tileRef
        fxLayout="column"
        class="day">

        <div fxFlex fxLayout fxLayoutAlign="start center" class="">
            <h3 fxHide.lt-md fxFlex="5" class="center">{{ dayAbbreviations[i] }} {{ day.day }}</h3>
            <h1 fxHide.gt-sm fxFlex="10" class="center">{{ mobileDayAbbreviations[i] }}</h1>

            <div class="time" fxFlex *ngFor="let tile of day.tiles"
            (mousedown)="mouseDown(time)"
            (mouseup)="mouseUp(time)"
            (mouseover)="mouseOver(time)"
            (click)="addClass(time)"
            [ngClass]="tile.classes">
                <div></div>
            </div>

        </div>
        
    </div>
</div>