
<div ngClass.lt-md="mobile" ngClass.gt-sm="desktop">

    <!-- MATERIAL BUTTON -->
    <!-- <a mat-fab fxHide.lt-sm class="material-button" routerLink="events/create" (click)="addEvent()"><mat-icon>event</mat-icon></a> -->

    <!-- HEADER -->
    <div class="container header gradient" fxLayout>

        <!-- Desktop Sidebar Toggle -->
        <button mat-button fxHide.lt-sm (click)="desktopDrawer.toggle()">
            <mat-icon matTooltip="open sidebar" *ngIf="desktopDrawer.opened === false">menu</mat-icon>
            <mat-icon matTooltip="close sidebar" *ngIf="desktopDrawer.opened === true">close</mat-icon>
        </button>

        <button mat-button (click)="previousMonth()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <button mat-button (click)="picker.open()">
            {{ title }}
        </button>
        <button mat-button (click)="nextMonth()">
            <mat-icon>arrow_forward_ios</mat-icon>
        </button>

                <!-- Mobile Sidebar Toggle -->
                <button mat-button fxHide.gt-xs (click)="mobileDrawer.toggle()">
                        <mat-icon matTooltip="open sidebar" *ngIf="mobileDrawer.opened === false">menu</mat-icon>
                        <mat-icon matTooltip="close sidebar" *ngIf="mobileDrawer.opened === true">close</mat-icon>
                    </button>
        
        <mat-form-field [style.display]="'none'">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker startView='year' touchUi #picker (monthSelected)="changeMonth($event)"></mat-datepicker>
        </mat-form-field>
    </div>

    <!-- MAIN -->
    <div class="container main">

        <mat-drawer-container>
                <mat-drawer fxHide.lt-sm #desktopDrawer opened="true" mode="side" class="drawer">
                    <app-categories
                        [categories]="categories$ | async"
                        [currentUserId]="currentUserId$ | async"
                        [permissions]="permissions$ | async"
                        (create)="createCategory($event)"
                        (update)="updateCategory($event)"
                        (delete)="deleteCategory($event)">
                    </app-categories>
                </mat-drawer>

                <mat-drawer #mobileDrawer opened="false" mode="over" class="drawer" position="end">
                    <app-categories
                        [categories]="categories$ | async"
                        [currentUserId]="currentUserId$ | async"
                        [permissions]="permissions$ | async"
                        (create)="createCategory($event)"
                        (update)="updateCategory($event)">
                    </app-categories>
                </mat-drawer>

                <ng-container *ngIf="currentView === 'Month'">
                        <app-month 
                            (swiperight)="previousMonth()" (swipeleft)="nextMonth()"
                            [events]="events$ | async"
                            [categories]="categories$ | async"
                            [year]="year"
                            [month]="month"
                            [currentUser]="currentUser$ | async"
                            [permissions]="permissions$ | async"
                            (chosenDay)="chooseDay($event)"
                            (chosenEvent)="chooseEvent($event)">
                        </app-month>
                    </ng-container>
            
                    <ng-container *ngIf="currentView === 'Week'">
                        <app-week [tiles]="tiles"
                            (chosenDay)="chooseDay($event)"
                            (chosenEvent)="chooseEvent($event)">
                        </app-week>
                    </ng-container>
        </mat-drawer-container>

    </div>
</div>