
.center {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 0;
}

.desktop {

    .material-button {
        position: absolute;
        z-index: 1000;
        bottom: 20px;
        right: 20%;
    }

    .drawer {
        width: 20vw;
    }

    .checkbox {
        width: 100%;
        margin-left: 5px;
    }

    .button {
        margin: 0 5px;
    }
}

.mobile {

    mat-icon {
        font-size: 20px !important;
    }

    .material-button {
        position: absolute;
        font-size: 15px;
        z-index: 1000;
        bottom: 20px;
        right: 20%;
    }

    .drawer {
        width: 50vw;
        height: 100%;
    }
}