<ul *ngIf="events && !loading"
    appMatchWidth="seed-list-card"
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    ngClass.lt-sm="mobile" ngClass.gt-xs="desktop">

    <mat-card
        *ngFor="let event of events"
        class="seed-list-card"
        fxLayout="row nowrap">

            <div class="card-content">
                <div fxLayout>
                    <h1 class="card-title">{{ event.name }}</h1>
                    <div fxFlex></div>
                </div>

                <i>{{ event.category }}</i>
            </div>

            <div class="spacer"></div>

            <div fxFlex></div>

            <button mat-icon-button routerLink="/events/view/{{event.id}}"><mat-icon>edit</mat-icon></button>
    </mat-card>

</ul>

<br>

<mat-spinner *ngIf="loading" fxLayoutAlign="center center"></mat-spinner>