

.seed-list-card {
    margin: 5px 5px 5px 5px;
    padding-left: 0px !important;
}

ul {
    padding: 0px !important;
    margin: 0px !important;
    width: 100%;
}

mat-card {
    padding: 0px !important;
    margin: 0px !important;
    width: 100%;
    // padding-bottom: 5px;
    // padding-left: 5px;
    // margin-right: 5px !important;
    // margin-left: 1px !important;
    width: 100%; 
}

.sub-title {
    padding-bottom: 0px;
    padding-top: 10px;
    padding-left: 5px;
}
.spacer {
    border-right: 1px solid #eeeeee;
}

.card-content {
    padding-left: 5px;
    padding: 5px 5px 5px 5px;
}
.card-title {
    margin: 0px !important;
}

.desktop {
    .spacer {
        width: 20vw;
    }
}

.mobile {
    h1 {
        font-size: 20px;
        min-width: 200px;
    }
}

