<form [formGroup]="permissionsForm"
	  (ngSubmit)="onSubmit(permissionsForm)">

	<div fxLayout="row wrap"
		 fxLayoutGap="2%">
		<mat-form-field fxFlex>
			<input matInput
				   required
				   formControlName="clearance"
				   placeholder="Clearance"
				   type="number">
		</mat-form-field>

		<mat-form-field fxFlex>
			<mat-label>role</mat-label>
			<mat-select formControlName="role"
						required>
				<mat-option *ngFor="let role of roles"
							[value]="role">
					{{ role }}
				</mat-option>
			</mat-select>
		</mat-form-field>

	</div>

	<button mat-raised-button
			type="submit"
			color="primary"
			[disabled]="permissionsForm.touched && permissionsForm.invalid">
		Submit
	</button>
</form>
