

.selected {
    border-bottom: 2px white solid;
}

.desktop{

    .modules {
        top: 60vh;
        width: 100vw;
        max-width: 100%;
        background-color: #eeeeee;
    }

    mat-icon {
        height: 100px;
        width: 100px;
        font-size: 100px;
    }
    mat-card.card {
        border-radius: 100px;
    }

    .tabs {
        min-height: 10vh;
        padding-left: 30%;
    }

    .content {
        background-color: white;
        padding-top: 20px;
    }

    .cover {
        position: relative;
        z-index: 2;
        height: 40vh;
        width: 100vw;
        max-width: 100%;
        object-fit: cover;
        color: white;
    }

    .about {
        min-height: 35vh;
    }

    .name {
        color: white;
        position: absolute;
        background-color: rgba(0,0,0,0.7);
        z-index: 3;
        font-size: 40px;
        width: 100%;
        height: 10vh;
        top: 40vh;
    }

    .profile {
        height: 20vh;
        border-radius: 100px;
        border: 5px solid white;
        top: 38vh;
        left: 10%;
        width: 20vh;
        position: absolute;
        z-index: 4;
        bottom: 20px;
        object-fit: cover;
    }
}




.mobile {

    .about {
        height: 85vh;
        background-color: white;
    }

    .modules {
        height: 85vh;
        background: #eeeeee;
        position: relative;
        z-index: 2;
    }

    .cover {
        position: relative;
        z-index: 2;
        height: 50vh;
        width: 100%;
        object-fit: cover;  
    }

    .name {
        color: white;
        position: absolute;
        z-index: 3;
        font-size: 20px;
        width: 100vw;
        height: 10vh;
        top: 40vh;
        width: 100%;
        background-color: rgba(0,0,0,0.7);
        text-align: center !important;
    }

    .profile {
        color: white;
        height: 100px;
        width: 100px;
        border-radius: 100px;
        border: 3px solid white;
        top: 5vh;
        right: 50%;
        margin-right: -50px;
        position: absolute;
        z-index: 4;
        object-fit: cover;
    }

    .tabs {
        position: relative;
        color: white;
    }
    
}

