<div ngClass.lt-md="mobile"
	 ngClass.gt-sm="desktop"
	 *ngIf="user">
	<div class="cover gradient"></div>

	<img class="profile"
		 src="../../../../../assets/placeholders/person.jpg" />

	<h1 class="name"
		fxLayoutAlign="center center">{{ !!user.name ? user.name : 'Unnamed User' }}</h1>

	<div class="tabs"
		 fxLayout="center center">
		<button mat-button
				fxFlex
				(click)="changeTab('About')"
				[class.selected]="currentTab === 'About'">
			About
		</button>

		<button mat-button
				fxFlex
				(click)="changeTab('Settings')"
				[class.selected]="currentTab === 'Settings'"
				*ngIf="permissions.role === 'admin' || user.id === currentId">
			Settings
		</button>
	</div>

	<mat-divider></mat-divider>

	<div class="modules">
		<ng-container *ngIf="currentTab === 'About'">
			<mat-card class="about">
				<mat-card-header>
					<mat-card-title><strong>
							<h1>About</h1>
						</strong></mat-card-title>
					<mat-card-subtitle>Information About This User</mat-card-subtitle>
				</mat-card-header>

				<mat-divider></mat-divider>
				<br />

				<mat-card-content>
					<div fxLayout="column">
						<p><b>description: </b>{{ user.description }}</p>
						<p><b>race: </b>{{ user.race }}</p>
						<p><b>age: </b>{{ user.age }}</p>
						<p><b>gender: </b>{{ user.gender }}</p>
					</div>
				</mat-card-content>
			</mat-card>
		</ng-container>

		<ng-container *ngIf="currentTab === 'Settings'">
			<div>
				<app-update-user [user]="user"
								 [permissions]="permissions"
								 (updateInformation)="updateInformation($event)"
								 (updatePermissions)="updatePermissions($event)"
								 (updateDemographic)="updateDemographic($event)"
								 (updateNotifications)="updateNotifications($event)">
				</app-update-user>
			</div>
		</ng-container>
	</div>
</div>
