<form [formGroup]="loginForm"
	  (ngSubmit)="onSubmit(loginForm)">

	<div fxLayout="column">

		<mat-form-field fxFlex>
			<mat-label>email</mat-label>
			<input matInput
				   required
				   formControlName="email"
				   placeholder="email"
				   type="email">
			<mat-error>
				{{ getErrorMessage(loginForm.get('email')) }}
			</mat-error>
		</mat-form-field>

		<mat-form-field fxFlex>
			<mat-label>password</mat-label>
			<input matInput
				   required
				   formControlName="password"
				   placeholder="password"
				   [type]="passwordShowing ? 'text' : 'password'">
			<mat-hint>number | uppercase letter | lowercase letter</mat-hint>
			<mat-icon matSuffix
					  (click)="passwordShowing = !passwordShowing"
					  style="cursor: pointer">
				{{ passwordShowing ? 'visibility' : 'visibility_off' }}</mat-icon>
			<mat-error>
				{{ getErrorMessage(loginForm.get('password')) }}
			</mat-error>
		</mat-form-field>


	</div>
	<br>


	<button mat-raised-button
			type="submit"
			color="primary"
			[disabled]="loginForm.touched && loginForm.invalid">
		Login
	</button>
</form>
