<div [@slideInOutAnimation]="sidebarOpen"
     class="component full sidebar"
     fxLayout="column"
     fxLayoutAlign="center center"
     fxLayoutGap="5px">

    <!-- Global Links -->
    <a (click)="onRoute()" mat-button routerLinkActive="active" routerLink="/events/calendar">Calendar</a>

    <!-- <a (click)="onRoute()" mat-button routerLinkActive="active" routerLink="/store/stripe">Store</a> -->

    <a (click)="onRoute()" mat-button routerLinkActive="active" routerLink="user/all">Users</a>

    <!-- Admin Links -->
    <!-- <ng-container *ngIf="permissions.role === 'admin'">
        <a (click)="onRoute()" mat-button routerLinkActive="active" routerLink="/admin/edit">Admin</a>
        <a (click)="onRoute()" mat-button routerLinkActive="active" routerLink="/events/scheduling">Scheduling</a>
    </ng-container> -->

    <!-- User Account Menu -->
    <button [matMenuTriggerFor]="userMenu" mat-button>Account</button> 

    <!-- Permissions Menu -->
    <button [matMenuTriggerFor]="permissionsMenu" *ngIf="permissions.clearance >= 1" mat-button>Permissions</button>

    
<!-- ===================================== MENU LINKS ================================================================ -->
    <!-- Permissions Menu Links -->
    <mat-menu #permissionsMenu yPosition="above" overlapTrigger="false">
        <button
            (click)="changeRole('visitor')"
            mat-menu-item
            [style.backgroundColor]="permissions.role === 'visitor' ? 'lightblue' : 'white'">
            View as Visitor
        </button>
    
        <button
            (click)="changeRole('customer')"
            mat-menu-item
            [style.backgroundColor]="permissions.role === 'customer' ? 'lightblue' : 'white'">
            View as Customer
        </button>
    
        <button
            (click)="changeRole('employee')"
            mat-menu-item
            [style.backgroundColor]="permissions.role === 'employee' ? 'lightblue' : 'white'">
            View as Employee
        </button>
    
        <button
            (click)="changeRole('admin')"
            mat-menu-item
            [style.backgroundColor]="permissions.role === 'admin' ? 'lightblue' : 'white'">
            View as Admin
        </button>
    </mat-menu>
    
    <!-- User Menu Links -->
    <mat-menu #userMenu yPosition="above" overlapTrigger="false">
        <a (click)="onRoute()" 
            *ngIf="permissions.role === 'visitor'"
            routerLink="user/login"
            mat-menu-item>
            Login
        </a>
    
        <a (click)="onRoute()" 
            *ngIf="permissions.role === 'visitor'"
            routerLink="user/register"
            mat-menu-item>
            Register
        </a>
    
        <a (click)="onRoute()" 
            *ngIf="permissions.clearance >= 1"
            routerLink="user/account"
            mat-menu-item>
            My Account
        </a>
    
        <button *ngIf="permissions.clearance >= 1"
            (click)="onLogout()"
            mat-menu-item>
            Logout
        </button>
    </mat-menu>
    
</div>

