<div fxLayout="column" ngClass.lt-md="mobile" ngClass.gt-sm="desktop" class="filters">
  <br>

  <div fxLayout>
    <h2 class="center title">Filter By Category</h2>

    <div fxFlex></div>

    <button mat-button
      class="button"
      *ngIf="permissions.role === 'admin'"
      (click)="createCategory()"
      matTooltip="Create a new Category">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <br>

  <mat-divider></mat-divider>

  <div fxLayout="row nowrap" *ngFor="let category of categories">
    <!-- List of Checkboxes that Filters Events Shown -->
    <mat-checkbox  [ngClass]="category.color"
        fxLayout
        class="checkbox"
        [(ngModel)]="category.viewing"
        (click)="toggleViewing(category)">
        {{ category.name }}
    </mat-checkbox>

    <!-- Create/Update/Delete Event Categories -->
    <ng-container *ngIf="permissions.role === 'admin'">
      <mat-icon class="edit" (click)="updateCategory(category)" matTooltip="change color">edit</mat-icon>
      <mat-icon class="delete" (click)="deleteCategory(category)" matTooltip="delete Category">close</mat-icon>
    </ng-container>
  </div>
</div>