.center {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 0;
}
.desktop, .mobile {
    .checkbox {
        width: 100%;
        margin-left: 5px;
    }
    .button {
        margin: 0 5px;
    }
    .edit {
        cursor: pointer;
    }
    .delete {
        color: red;
        cursor: pointer;
    }
    .title {
        padding-left: 5px;
    }
}

/** Use Ng-deep to dive into the material checkbox styles, without
    having to touch any of the material design componentry
**/
mat-checkbox {
    &.amber.mat-checkbox-checked::ng-deep > label > div > .mat-checkbox-background { 
        background-color: #FFAB00 
    }
    &.blue.mat-checkbox-checked::ng-deep > label > div > .mat-checkbox-background {
        background-color: #2962FF
    }
    &.red.mat-checkbox-checked::ng-deep > label > div > .mat-checkbox-background {
        background-color: #d50000
    }
    &.purple.mat-checkbox-checked::ng-deep > label > div > .mat-checkbox-background {
        background-color: #AA00FF
    }
    &.teal.mat-checkbox-checked::ng-deep > label > div > .mat-checkbox-background {
        background-color: #00BFA5
    }
    &.pink.mat-checkbox-checked::ng-deep > label > div > .mat-checkbox-background {
        background-color: #C51162
    }
    &.orange.mat-checkbox-checked::ng-deep > label > div > .mat-checkbox-background d {
        background-color: #FF6D00
    }
    &.lime.mat-checkbox-checked::ng-deep > label > div > .mat-checkbox-background {
        background-color: #AEEA00
    }
    &.lightblue.mat-checkbox-checked::ng-deep > label > div > .mat-checkbox-background {
        background-color: #0091EA
    }
    &.indigo.mat-checkbox-checked::ng-deep > label > div > .mat-checkbox-background {
        background-color: #304FFE
    }
    &.green.mat-checkbox-checked::ng-deep > label > div > .mat-checkbox-background {
        background-color: #00C853
    }
    &.lightgreen.mat-checkbox-checked::ng-deep > label > div > .mat-checkbox-background {
        background-color: #64DD17
    }
    &.deeppurple.mat-checkbox-checked::ng-deep > label > div > .mat-checkbox-background {
        background-color: #6200EA
    }
    &.deeporange.mat-checkbox-checked::ng-deep > label > div > .mat-checkbox-background {
        background-color: #DD2C00
    }
    &.cyan.mat-checkbox-checked::ng-deep > label > div > .mat-checkbox-background {
        background-color: #00B8D4
    }
}
/* 
COLORS:


$amber-A700: #FFAB00;
$blue-A700: #2962FF;
$teal-A700: #00BFA
$red-A700: #d50000;
$purple-A700: #AA00FF;
$pink-A700: #C51162;
$orange-A700: #FF6D00;
$lime-A700: #AEEA00;
$light-green-A700: #64DD17;
$light-blue-A700: #0091EA;
$indigo-A700: #304FFE;
$green-A700: #00C853;
$deep-purple-A700: #6200EA;
$deep-orange-A700: #DD2C00;
$cyan-A700: #00B8D4;
 */
/* 
$amber-A100: #FFE57F;
$amber-A200: #FFD740;
$amber-A400: #FFC400;
$amber-A700: #FFAB00;
$blue-A100: #82B1FF;
$blue-A200: #448AFF;
$blue-A400: #2979FF;
$blue-A700: #2962FF;
$teal-A100: #A7FFEB;
$teal-A200: #64FFDA;
$teal-A400: #1DE9B6;
$teal-A700: #00BFA5;
$red-A100: #ff8a80;
$red-A200: #ff5252;
$red-A400: #ff1744;
$red-A700: #d50000;
$purple-A100: #EA80FC;
$purple-A200: #E040FB;
$purple-A400: #D500F9;
$purple-A700: #AA00FF;
$pink-A100: #FF80AB;
$pink-A200: #FF4081;
$pink-A400: #F50057;
$pink-A700: #C51162;
$orange-A100: #FFD180;
$orange-A200: #FFAB40;
$orange-A400: #FF9100;
$orange-A700: #FF6D00;
$lime-A100: #F4FF81;
$lime-A200: #EEFF41;
$lime-A400: #C6FF00;
$lime-A700: #AEEA00;
$light-green-A100: #CCFF90;
$light-green-A200: #B2FF59;
$light-green-A400: #76FF03;
$light-green-A700: #64DD17;
$light-blue-A100: #80D8FF;
$light-blue-A200: #40C4FF;
$light-blue-A400: #00B0FF;
$light-blue-A700: #0091EA;
$indigo-A100: #8C9EFF;
$indigo-A200: #536DFE;
$indigo-A400: #3D5AFE;
$indigo-A700: #304FFE;
$green-A100: #B9F6CA;
$green-A200: #69F0AE;
$green-A400: #00E676;
$green-A700: #00C853;
$deep-purple-A100: #B388FF;
$deep-purple-A200: #7C4DFF;
$deep-purple-A400: #651FFF;
$deep-purple-A700: #6200EA;
$deep-orange-A100: #FF9E80;
$deep-orange-A200: #FF6E40;
$deep-orange-A400: #FF3D00;
$deep-orange-A700: #DD2C00;
$cyan-A100: #84FFFF;
$cyan-A200: #18FFFF;
$cyan-A400: #00E5FF;
$cyan-A700: #00B8D4;
 */
