
<div
  fxLayout="row wrap"
  fxLayoutAlign="center start"
  fxLayoutGap="10px">
  
  <div>

      <mat-card-content>
          <app-form-group [config]="config" (submit)="formChanged($event)"></app-form-group>
      </mat-card-content>

      <mat-card-actions fxLayout>
            <button mat-raised-button color="primary" [disabled]="!valid" (click)="createEvent()">
              Create Event
            </button>
      </mat-card-actions>
    </div>

</div>