<!-- This is the Header -->
<h1 class="container header" fxLayoutAlign="center center">
    Users List
</h1>

<!-- This is Our Form -->
<form fxHide.lt-md class="form gradient" [formGroup]="userFilterForm" fxLayoutAlign="center center" fxLayoutGap="20px">
    <div fxFlex></div>

    <mat-form-field fxFlex>
        <mat-select formControlName="race" placeholder="Race">
            <mat-option *ngFor="let option of raceFilteringOptions" [value]="option">
                {{ option }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex>
        <mat-select formControlName="role" placeholder="Role">
            <mat-option *ngFor="let option of roles" [value]="option">
                {{ option }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex>
        <mat-select formControlName="gender" placeholder="Gender">
            <mat-option *ngFor="let option of genders" [value]="option">
                {{ option }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div fxFlex></div>
</form>


<!-- This is The Container that Holds the Data -->
<!-- We Pass the Observable as a Prop into the app-list-user component -->
<!-- The app-list-user component is a presentational component that takes an array of users and displays cards -->
<div class="container main list gradient">
    <app-list-user
        [users]="filteredUsers$ | async"
        (userClicked)="routeToUser($event)">
    </app-list-user>

    <!-- If the Loader is True, Then This Spinner is Displayed -->
    <div *ngIf="loading$ | async" fxLayout fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
    </div>
</div>