.list {
    background-color: #efefef;
}

.center-text {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 0;
}

.form {
    background-color: #eeeeee;
    color: black;
    height: 10vh;
}