<div ngClass.lt-md="mobile" ngClass.gt-sm="desktop">
    <!-- Desktop Day Header -->
    <mat-grid-list fxHide.lt-md cols=7 rowHeight="fit" class="grid-header">
        <mat-grid-tile *ngFor="let day of dayAbbreviations"
            [style.border]="'none'"
            [style.borderLeft]="'solid #eeeeee'"
            [style.background]="'white'"
            class="mat-header">
            {{ day }}
        </mat-grid-tile>
    </mat-grid-list>

    <!-- Mobile Day Header -->
    <mat-grid-list fxHide.gt-sm cols=7 rowHeight="fit" class="grid-header">
        <mat-grid-tile *ngFor="let day of mobileDayAbbreviations"
            [style.border]="'none'"
            [style.borderLeft]="'solid #eeeeee'"
            [style.background]="'white'"
            class="mat-header">
            {{ day }}
        </mat-grid-tile>
    </mat-grid-list>

    <!-- Month of Tiles -->
    <mat-grid-list cols="7" rowHeight="fit" class="grid-main">
        <mat-grid-tile
            *ngFor="let tile of tiles"
            fxLayout="column"
            [style.background]="tile.color"
            (click)="onChooseDay(tile)">

            <mat-grid-tile-header>{{ tile.day }}</mat-grid-tile-header>

            <div class="tile-content" fxLayout="column" fxLayoutGap="2px">
                <div *ngFor="let event of tile.events" (click)="onChooseEvent(event)">
                    <div *ngIf="categoriesShowing.includes(event.category)"
                        class="event"
                        [style.backgroundColor]="event.color"
                        matRipple>
                        <p>{{ event.name }}</p>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>