mat-grid-tile-header {
    display: flex !important;
    align-items: flex;
    height: 20px !important;
    background-color: transparent !important;
    color: black !important;
}

mat-grid-tile {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    &:hover {
        background-color: #FAFAFA !important;
        cursor: pointer;
    }

    &.unavailable {
        background-color: #ef9a9a;

        &:hover {
            cursor: not-allowed;
        }
    }
}

.center {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 0;
}

.mobile {
    .grid-header {
        position: relative;
        height: 5vh;
    }
    
    .grid-main {
        position: relative;
        height: 80vh;
        background-color: rgb(191, 191, 209)
    }

    mat-grid-tile-header {
        // position: static !important;
        width: 100%;
        padding: 0px 1px !important;
        font-size: 8px !important;
    }

    .event {
        width: 100%;
        margin: 0px !important;
        margin-right: 1px !important;
        margin-left: 1px !important;
        padding: 0px !important;
        padding-left: 3px !important;
        background-color: #3F51B5;
        color: #fafafa;
        border-radius: 5px;
        height: 20px;
        text-align: center;
    }
}

.desktop {
    .grid-header {
        height: 5vh;
    }
    
    .grid-main {
        height: 75vh;
    }

    mat-grid-tile {
        border: solid 1px #eeeeee;
    }

    .event {
        position: relative;
        width: 100%;
        margin-right: 5px;
        background-color: #3F51B5;
        color: white;
        border-radius: 2px;
        height: 25px;
        box-shadow: 0 1px 2px -1px rgba(0,0,0,.2), 0 3px 5px 0 rgba(0,0,0,.14), 0 1px 9px 0 rgba(0,0,0,.12);
        text-align: center;

        :hover {
            background-color: lightblue;
            color: black;
            animation-delay: 1s;
        }
    }
    
}


.tile-content {
    margin-top: 20%;
    height: 80%;
    overflow: hidden;
    width: 100%;
    margin-right: 2px;
    margin-bottom: 1px;
}
