<br>
<div class="form">
    
    <!-- Name Form -->
    <mat-card *ngIf="currentForm === 1">
        <h2>What is your name?</h2>



        <div fxLayout="row">
            <app-form-group fxFlex [config]="nameForm" (submit)="nameFormChanged($event)"></app-form-group>
            <button mat-button [disabled]="!nameFormValid" (click)="next()">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </mat-card>

    <!-- Age Form -->
    <mat-card *ngIf="currentForm === 2">
        <h2>How old are you?</h2>
    
        <app-form-group [config]="ageForm" (submit)="ageFormChanged($event)"></app-form-group>
    
        <div fxLayout="row">
            <button mat-button (click)="back()"><mat-icon>arrow_back</mat-icon></button>
            <button mat-button [disabled]="!ageFormValid" (click)="next()">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </mat-card>

    <!-- Gender Form -->
    <mat-card *ngIf="currentForm === 3">
        <h2>How do you identify?</h2>


        <div fxLayout="row">
            <button mat-button (click)="back()"><mat-icon>arrow_back</mat-icon></button>
            <app-form-group fxFlex [config]="genderForm" (submit)="genderFormChanged($event)"></app-form-group>
            <button mat-button [disabled]="!genderFormValid" (click)="next()">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </mat-card>

    <!-- Race Form -->
    <mat-card *ngIf="currentForm === 4">
        <h2>What is your race?</h2>

        <app-form-group [config]="raceForm" (submit)="raceFormChanged($event)"></app-form-group>

        <div fxLayout="row" fxLayoutAlign="spacearound center">
            <button mat-button (click)="back()"><mat-icon>arrow_back</mat-icon></button>
            <button mat-button [disabled]="!raceFormValid" (click)="next()">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </mat-card>

    <!-- Auth Form -->
    <mat-card *ngIf="currentForm === 5">
        <h2>Lastly, we need you to create account</h2>

        <app-form-group [config]="authForm" (submit)="authFormChanged($event)"></app-form-group>

        <button mat-button [disabled]="!authFormValid" (click)="registerUser()">Register!</button>
    </mat-card>

</div>