<div fxHide.gt-sm class="container header gradient" fxLayout>
	<button fxHide.gt-sm mat-button (click)="onBack()">
		<mat-icon>arrow_back</mat-icon>
	</button>
</div>

<!-- View the User Profile of the User who is Currently Logged in -->
<ng-container *ngIf="(view$ | async) === 'READ CURRENT'">
	<app-read-user
		*ngIf="(currentUser$ | async) && (permissions$ | async)"
		class="container main"
		[user]="currentUser$ | async"
		[permissions]="permissions$ | async"
		[currentId]="currentId$ | async"
		(update)="updateUser($event)"
	>
	</app-read-user>
</ng-container>

<!-- View the User Information for a Selected User -->
<ng-container *ngIf="(view$ | async) === 'READ SELECTED'">
	<app-read-user
		*ngIf="(selectedUser$ | async) && (permissions$ | async)"
		class="container main"
		[user]="selectedUser$ | async"
		[permissions]="permissions$ | async"
		[currentId]="currentId$ | async"
		(update)="updateUser($event)"
	>
	</app-read-user>
</ng-container>
