
<div class="container header gradient" fxLayoutAlign="start center">
    <button mat-icon-button (click)="onBack()"><mat-icon>arrow_back</mat-icon></button>
    <h1 class="center-text">{{ (event$ | async).name }}</h1>
</div>

<ng-container *ngIf="(view$ | async) === 'CREATE'">
    <app-create-event *ngIf="currentVerb === 'Create'"
        [currentUser]="currentUser$ | async"
        [permissions]="permissions$ | async"
        [categories]="categories$ | async"
        (create)="createEvent($event)">
    </app-create-event>
</ng-container>

<ng-container *ngIf="(view$ | async) === 'LIST'">
    <app-list-event
        [currentUser]="currentUser$ | async"
        [permissions]="permissions$ | async"
        [events]="events$ | async"
        (eventClicked)="routeToEvent($event)">
    </app-list-event>
</ng-container>

<ng-container *ngIf="(view$ | async) === 'READ'">
    <app-read-event *ngIf="(event$ | async) && (permissions$ | async)"
        [permissions]="permissions$ | async"
        [event]="event$ | async"
        [categories]="categories$ | async"
        [currentUserId]="currentUser$ | async"
        (update)="updateEvent($event)">
    </app-read-event>
</ng-container>

