<section class="form"
		 appMatchWidth="card">


	<!-- Demographic Form -->
	<mat-card class="card">
		<mat-card-header>
			<mat-card-title><strong>
					<h1>Demographic</h1>
				</strong></mat-card-title>
			<mat-card-subtitle>demographic information helps us give you a better experience</mat-card-subtitle>
		</mat-card-header>

		<mat-divider></mat-divider>
		<br>

		<mat-card-content>
			<app-demographic-form (demographicFormValue)="updateUserDemographic($event)"></app-demographic-form>
		</mat-card-content>

	</mat-card>

	<!-- Information Form -->
	<mat-card class="card">
		<mat-card-header>
			<mat-card-title><strong>
					<h1>Information</h1>
				</strong></mat-card-title>
			<mat-card-subtitle>basic information about yourself</mat-card-subtitle>
		</mat-card-header>

		<mat-divider></mat-divider>
		<br>

		<mat-card-content>
			<app-information-form (informationFormValue)="updateUserInformation($event)"></app-information-form>
		</mat-card-content>

	</mat-card>

	<!-- Permissions Form -->
	<mat-card class="card"
			  *ngIf="permissions.role === 'admin'">
		<mat-card-header>
			<mat-card-title><strong>
					<h1>Permissions</h1>
				</strong></mat-card-title>
			<mat-card-subtitle>change what this user can view</mat-card-subtitle>
		</mat-card-header>

		<mat-divider></mat-divider>
		<br>

		<mat-card-content>
			<app-permissions-form (permissionsFormValue)="updateUserPermissions($event)"></app-permissions-form>
		</mat-card-content>
	</mat-card>



</section>

<div class="container header"></div>
