.form {
	position: relative;
	z-index: 1;
	background: #eeeeee;
	max-width: 100%;
}

@media only screen and (min-width: 960px) {
	.form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 0 15%;
	}
}

.center-text {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	border: none;
	margin: 0;
}

.card {
	// min-width: 200px;
	margin-right: 0px !important;
	margin-bottom: 5px;
}
