<form [formGroup]="informationForm"
	  (ngSubmit)="onSubmit(informationForm)">

	<div fxLayout="column">
		<mat-form-field fxFlex>
			<mat-label>first and last name</mat-label>
			<input matInput
				   formControlName="name"
				   type="text">
			<mat-error>
				{{ getErrorMessage(informationForm.get('name')) }}
			</mat-error>
		</mat-form-field>

		<mat-form-field fxFlex>
			<mat-hint>120 Characters or less | {{ informationForm.get('description').value.length }}</mat-hint>
			<textarea matInput
					  formControlName="description"
					  placeholder="Write a short descriptions about yourself"
					  type="text">
				   </textarea>
			<mat-error>
				{{ getErrorMessage(informationForm.get('description')) }}
				| {{ informationForm.get('description').value.length }}
			</mat-error>
		</mat-form-field>

	</div>

	<br>

	<button mat-raised-button
			type="submit"
			color="primary"
			[disabled]="informationForm.touched && informationForm.invalid">
		Submit
	</button>
</form>
