

.list-card {
    margin: 5px 5px 5px 5px;
    padding-left: 0px !important;
}

.card-title {
    margin-bottom: 0px !important;
}

.table {
    width: 100vw;
}

.edit-icon {
    cursor: pointer;
}

.desktop {
    .spacer {
        width: 20vw;
    }

    .card-image {
        border-radius: 100px;
        object-fit: cover;
        width: 10vh;
        height: 10vh;
        margin: 0 5px;
    }
}

.mobile {
    padding: 5px 10px;

    mat-card {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-right: 1px !important;
        margin-left: 1px !important; 
    }

    .card-image {
        border-radius: 100px;
        object-fit: cover;
        width: 8vh;
        height: 8vh;
        margin: 0 5px;
    }

    
}

