<!-- <mat-toolbar fxLayout fxLayoutAlign="center center" fxHide.lt-md>
    <button
        mat-button
        (click)="viewCards()"
        [style.borderBottom]="cards ? '1px solid black' : '' ">
            Card Format
    </button>

    <button
        mat-button
        (click)="viewTable()"
        [style.borderBottom]="table ? '1px solid black' : '' ">
            Table Format
    </button>
</mat-toolbar>

<mat-toolbar *ngIf="table && users" fxLayout fxHide.lt-md>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" [style.width]="'80vw'">
        </mat-form-field>
</mat-toolbar> -->

<ul *ngIf="!!users && (users.length > 0)" appMatchHeight="list-card" appMatchWidth="list-card" fxLayout="row wrap"
	fxLayoutAlign="center center" class="cards-list gradient" ngClass.lt-sm="mobile" ngClass.gt-xs="desktop">

	<mat-card *ngFor="let user of users" class="list-card" fxLayout="row nowrap">
		<img src="../../../../../assets/placeholders/person.jpg" class="card-image">

		<div fxLayout="column">
			<h1 class="card-title">{{ !!user.name ? user.name : 'Unnamed User'}}</h1>
			<i>{{ user.email }}</i>
		</div>

		<div class="spacer"></div>

		<div fxFlex></div>

		<button mat-icon-button (click)="onClick(user)">
			<mat-icon>edit</mat-icon>
		</button>
	</mat-card>
</ul>

<div *ngIf="users && table">
	<table mat-table [dataSource]="dataSource" class="table" matSort>

		<!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

		<!-- Name Column -->
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef> Name </th>
			<td mat-cell *matCellDef="let user"> {{ !!user.name ? user.name : 'Unnamed user'}} </td>
		</ng-container>

		<!-- Email Column -->
		<ng-container matColumnDef="email">
			<th mat-header-cell *matHeaderCellDef> Email </th>
			<td mat-cell *matCellDef="let user"> {{ !!user.email ? user.email : 'null'}} </td>
		</ng-container>

		<!-- Age Column -->
		<ng-container matColumnDef="age">
			<th mat-header-cell *matHeaderCellDef> Age </th>
			<td mat-cell *matCellDef="let user"> {{ !!user.age ? user.age : 'null'}} </td>
		</ng-container>

		<!-- Demographic Column -->
		<ng-container matColumnDef="demographic">
			<th mat-header-cell *matHeaderCellDef> Demographic </th>
			<td mat-cell *matCellDef="let user"> {{ !!user.demographic ? user.demographic : 'null'}} </td>
		</ng-container>

		<!-- Role Column -->
		<ng-container matColumnDef="role">
			<th mat-header-cell *matHeaderCellDef> Role </th>
			<td mat-cell *matCellDef="let user"> {{ !!user.role ? user.role : 'null'}} </td>
		</ng-container>

		<!-- Edit Column -->
		<ng-container matColumnDef="edit">
			<th mat-header-cell *matHeaderCellDef> View User</th>
			<td mat-cell *matCellDef="let user">
				<mat-icon (click)="onClick(user)" class="edit-icon">edit</mat-icon>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>

	<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>