<div class="global header"
	 fxLayout
	 fxHide.lt-md>

	<img class="image-responsive image-link"
		 src="../../../../assets/images/logo2.jpg"
		 routerLink="/home">

	<div fxFlex></div>

	<!-- Calendar -->
	<a mat-button
	   routerLinkActive="active"
	   routerLink="/events/calendar">
		<mat-icon class="icon">event</mat-icon>
		<p>Calendar</p>
	</a>

	<!-- User Menu -->
	<a [matMenuTriggerFor]="userMenu"
	   mat-button>
		<mat-icon>person</mat-icon>
		<p>Account</p>
	</a>

	<!-- Permissions Menu -->
	<a [matMenuTriggerFor]="viewMenu"
	   *ngIf="permissions.clearance >= 1"
	   mat-button>
		<mat-icon>visibility</mat-icon>
		<p>Permissions</p>
	</a>

	<!-- View Documentation Button -->
	<button class="highlight-button"
			mat-raised-button
			color="primary"
			(click)="onGetStarted()">View Documentation</button>
</div>






<!-- =========================== Menu's ======================================== -->

<!-- List Menu Links -->
<mat-menu #listMenu
		  yPosition="above"
		  overlapTrigger="false">
	<button routerLink="user/all"
			mat-menu-item>
		Users
	</button>

	<button routerLink="events/list"
			mat-menu-item>
		Events
	</button>
</mat-menu>


<!-- Permissions Menu Links -->
<mat-menu #viewMenu
		  yPosition="above"
		  overlapTrigger="false">
	<button (click)="changeRole('visitor')"
			mat-menu-item
			[style.backgroundColor]="permissions.role === 'visitor' ? 'lightblue' : 'white'">
		View as Visitor
	</button>

	<button (click)="changeRole('customer')"
			mat-menu-item
			[style.backgroundColor]="permissions.role === 'customer' ? 'lightblue' : 'white'">
		View as Customer
	</button>

	<button (click)="changeRole('employee')"
			mat-menu-item
			[style.backgroundColor]="permissions.role === 'employee' ? 'lightblue' : 'white'">
		View as Employee
	</button>

	<button (click)="changeRole('admin')"
			mat-menu-item
			[style.backgroundColor]="permissions.role === 'admin' ? 'lightblue' : 'white'">
		View as Admin
	</button>
</mat-menu>

<!-- User Menu Links -->
<mat-menu #userMenu
		  yPosition="above"
		  overlapTrigger="false">
	<button *ngIf="permissions.role === 'visitor'"
			routerLink="user/login"
			mat-menu-item>
		Login
	</button>

	<button *ngIf="permissions.role === 'visitor'"
			routerLink="user/register"
			mat-menu-item>
		Register
	</button>

	<button *ngIf="permissions.clearance >= 1"
			routerLink="user/account"
			mat-menu-item>
		My Profile
	</button>

	<button *ngIf="permissions.clearance >= 1"
			routerLink="user/all"
			mat-menu-item>
		All Users
	</button>

	<button *ngIf="permissions.clearance >= 1"
			(click)="onLogout()"
			mat-menu-item>
		Logout
	</button>
</mat-menu>
