

.selected {
    border-bottom: 2px black solid;
}



.desktop{

    background-color: #eeeeee;
    height: 80vh;

    .modules {
        top: 60vh;
        width: 100vw;
        background: #eeeeee;
    }

    mat-icon {
        height: 100px;
        width: 100px;
        font-size: 100px;
    }
    mat-card.card {
        border-radius: 100px;
    }

    .tabs {
        min-height: 10vh;
        padding-left: 30%;
    }
}




.mobile {

    .read {
        background-color: white;
        background: white;
    }

    .modules {
        height: 90vh;
        height: 90%;
        width: 100%;
        background-color: #eeeeee;
        position: relative;
        z-index: 2;
    }

    .tabs {
        position: relative;
        color: black;
    }
    
}

