<div ngClass.lt-md="mobile" ngClass.gt-sm="desktop" *ngIf="event" class="read">

    <div fxLayout="center center" class="tabs gradient">

        <button mat-button
            (click)="changeTab('About')"
            [class.selected]="currentTab === 'About'">
                About
        </button>

        <button mat-button
            (click)="changeTab('Settings')"
            [class.selected]="currentTab === 'Settings'"
            *ngIf="(permissions.role === 'admin') || (event.owner === currentId)">
                Settings
        </button>

        <div fxFlex></div>
    </div>

    <mat-divider></mat-divider>

    <div>
        <ng-container *ngIf="currentTab === 'About'">
            <mat-card>
                <mat-card-header>
                    <mat-card-title><strong><h1>About</h1></strong></mat-card-title>
                    <mat-card-subtitle>Information About This Event</mat-card-subtitle>
                </mat-card-header>
                <mat-divider></mat-divider>
                <br>
        
                <mat-card-content>
                    <div fxLayout="column">
                        <p><b>description:  </b>{{ event.description }}</p>
                        <p><b>date:  </b>{{ date | date }}</p>
                        <p><b>startTime:  </b>{{ event.startTime }}</p>
                        <p><b>endTime:  </b>{{ event.endTime }}</p>
                        <p><b>calendar:  </b>{{ event.category }}</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </ng-container>

        <ng-container *ngIf="currentTab === 'Settings'">
            <div>
                <app-update-event
                    [event]="event"
                    [permissions]="permissions"
                    [categories]="categories"
                    (update)="updateEvent($event)">
                </app-update-event>
            </div>
        </ng-container>
    </div>

</div>