<table style="margin: 5px;">
    <tbody>
        <!-- LEVEL 1 CLASSES -->
        <tr>
            <th>Level 1</th>
        </tr>
        <tr>
            <td>
                <h5 style="margin: 1px;"><strong>Swingin’</strong></h5>
                <strong>Wednesdays April 3-24 7:30-8:30</strong>
                <br>
                Learn the fundamentals of Lindy Hop, the original swing dance, with a focus on six-count, triple step rhythms.  No experience or partner required! Come alone or bring a friend. This is one of our three Beginning Lindy Hop classes (Swingin', Circlin' and Kickin'), which can be taken in any order.


                [toggle title="Register Now!"]
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="F8GW4FX2WDQCE">

                    <table>
                        <tr><td>
                            <input type="hidden" name="on0" value="101 Swingin'">101 Swingin'
                        </td></tr>

                        <tr><td>
                            <select name="os0">
                                <option value="Online Registration">Online Registration $75.00 USD</option>
                                <option value="Student (Must show valid Student ID)">Student (Must show valid Student ID) $50.00 USD</option>
                                <option value="LHSL Member">LHSL Member $37.50 USD</option>
                            </select>
                        </td></tr>

                        <tr><td>
                            <input type="hidden" name="on1" value="Taking Class as a">Taking Class as a
                        </td></tr>

                        <tr><td>
                                <select name="os1">
                                    <option value="Lead">Lead </option>
                                    <option value="Follow">Follow </option>
                                </select>
                        </td></tr>
                    </table>

                    <input type="hidden" name="currency_code" value="USD">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
                [/toggle]
            </td>
        </tr>

        <!-- LEVEL 2 CLASSES -->
        <tr>
            <th><b>Level 2</b></th>
        </tr>
        <tr>
            <td>
                <h5 style="margin: 1px;"><strong>Swing Outs 1</strong></h5>
                <strong>Wednesdays April 3-24 6:30-7:30</strong>
                <br>
                Learn 8 count footwork and practice integrating 6 and 8 count patterns to expand your dance horizons! This is one of our three Swing Out classes (Footwork, Flow, and Frame) which can be taken in any order.


                [toggle title="Register Now!"]
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="N6DQGGPZQY34W">

                    <table>
                        <tr><td>
                            <input type="hidden" name="on0" value="201 Swingouts A">201 Swingouts A
                        </td></tr>
                        
                        <tr><td>
                            <select name="os0">
                                <option value="Online Registration">Online Registration $75.00 USD</option>
                                <option value="Student (Must show valid Student ID)">Student (Must show valid Student ID) $50.00 USD</option>
                                <option value="LHSL Member">LHSL Member $37.50 USD</option>
                            </select>
                        </td></tr>

                        <tr><td>
                            <input type="hidden" name="on1" value="Taking Class as a">Taking Class as a
                        </td></tr>

                        <tr><td>
                            <select name="os1">
                            <option value="Lead">Lead </option>
                            <option value="Follow">Follow </option>
                            </select>
                        </td></tr>
                    </table>

                    <input type="hidden" name="currency_code" value="USD">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
                [/toggle]
            </td>
        </tr>


        </td>
        </td>
        </tr>

        <!-- LEVEL 3 CLASSES / ELECTIVES -->
        <tr>
            <th>Elective</th>
        </tr>

        <tr>
            <td>
                <h5 style="margin: 1px;"><strong>Patchwork Lindy</strong></h5>
                <strong>Wednesdays, April 3-24 7:30-8:30</strong>
                <br>
                This series will teach you how to be creative with the basics you already know. This class will cover new patterns and footwork you have didn't know you could stitch together! This is an advanced level course with a prerequisite of having taken at least two full series of intermediate level classes. You must be familiar with basic technique and movement as well as how to communicate well with a partner.

                <br>
                <br>
                <strong>Prerequisite:</strong> 3-6 months experience. Familiar with Level 1 skills and concepts: Pulse, connection, 6 count footwork, basic turns, closed and open position.


                [toggle title="Register Now!"]
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="GB6CD2TS26GRY">
                    <table>
                        <tr><td>
                            <input type="hidden" name="on0" value="Vocab building">Vocab building
                        </td></tr>

                        <tr><td>
                            <select name="os0">
                                <option value="Online Registration">Online Registration $75.00 USD</option>
                                <option value="Student (Must show valid Student ID)">Student (Must show valid Student ID) $50.00 USD</option>
                                <option value="LHSL Member">LHSL Member $37.50 USD</option>
                            </select>
                        </td></tr>

                        <tr><td>
                            <input type="hidden" name="on1" value="Taking Class as a">Taking Class as a
                        </td></tr>
                        
                        <tr><td>
                            <select name="os1">
                                <option value="Lead">Lead </option>
                                <option value="Follow">Follow </option>
                            </select>
                        </td></tr>
                    </table>

                    <input type="hidden" name="currency_code" value="USD">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
                [/toggle]
            </td>
        </tr>


    </tbody>
</table>