<div fxHide.gt-sm
	 class="container header">
	<div fxFlex></div>

	<img class="image-responsive image-link"
		 src="../../../../assets/images/logo2.jpg"
		 routerLink="/home">

	<div fxFlex></div>
</div>

<div class="container main">

</div>
