.title {
    color: darkblue;
}

// landing
.landing {
    height: 70vh;
    width: 100vw;
    max-width: 100%;
    background-color: red;
}
.landing-text {
    color: darkblue;
    margin: 5px;
    text-align: center;
}

// spacer
.spacer {
    background-color: white;
    height: 50vh;
    width: 100vw;
    max-width: 100%;
}
.spacer-text {
    margin: 5px;
    text-align: center;
}

.cards {
    background-color: #eee;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}

.footer {
    background-color: #1A1A1A;
    color: white;
    height: 20vh;
    width: 100vw;
    max-width: 100%;
}

.mobile {
    position: relative;
}