<form [formGroup]="forgotPasswordForm"
	  (ngSubmit)="onSubmit(forgotPasswordForm)">

	<div fxLayout="row wrap"
		 fxLayoutGap="2%">

		<!-- Select Form -->
		<mat-form-field fxFlex>
			<mat-label>select</mat-label>
			<mat-select formControlName="select"
						required>
				<mat-option *ngFor="let select of selectValues"
							[value]="select">
					{{ select }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<!-- Input Form With Errors -->
		<mat-form-field fxFlex>
			<mat-label>input</mat-label>
			<input matInput
				   required
				   formControlName="input"
				   placeholder="input"
				   type="text">
			<mat-error>
				{{ getErrorMessage(forgotPasswordForm.get('input')) }}
			</mat-error>
		</mat-form-field>

	</div>


	<button mat-raised-button
			type="submit"
			color="primary"
			[disabled]="forgotPasswordForm.touched && forgotPasswordForm.invalid">
		Submit
	</button>
</form>
