<mat-tab-group mat-stretch-tabs
        fxHide.gt-sm
        (selectedTabChange)="onFirstHeaderClick($event)"
        [selectedIndex]="tabFocused()"
        class="global footer"
        headerPosition="below"
        color="primary"
        backgroundColor="accent">
    
        <mat-tab>
            <ng-template mat-tab-label>
                    <mat-icon class="tab-icon"
                    color="primary">home</mat-icon>
            </ng-template>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                    <mat-icon class="tab-icon"
                    color="primary">event</mat-icon>
            </ng-template>
        </mat-tab>

        <mat-tab>
            <ng-template  mat-tab-label>
                    <mat-icon class="tab-icon"
                    color="primary">face</mat-icon>
            </ng-template>
        </mat-tab>

<!--         <mat-tab *ngIf="permissions.role === 'admin'">
            <ng-template mat-tab-label>
                    <mat-icon class="tab-icon"
                    color="primary">edit</mat-icon>
            </ng-template>
        </mat-tab> -->

</mat-tab-group>
    