<div class="container header" fxLayout fxLayoutAlign="space-between center">
    <button fxHide.gt-sm mat-button matTooltip="back to previous page" (click)="onBack()">
            <mat-icon>arrow_back</mat-icon>
    </button>
    <div></div>
    <h1>Events List</h1>
    <div></div>
</div>

<div class="container main list" *ngIf="!loading">
    <app-list-event
        [currentUser]="currentUser$ | async"
        [permissions]="permissions$ | async"
        [events]="events$ | async"
        (eventClicked)="routeToEvent($event)">
    </app-list-event>
</div>

<div class="" *ngIf="loading" class="container main" fxLayout fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
</div>