.main,
.header {
	background-color: #eeeeee;
}

.auth-form {
	margin: 5px;
}

.oAuth-button {
	height: 80px;
	margin: 10px;
}

.oAuth-image {
	position: absolute;
	left: 10px;
	top: 16px;
	margin: auto 0;
}

.facebook-button {
	background-color: #3b5998 !important;
	color: white;
	cursor: not-allowed;
}
