<div class="container main"
	 fxLayout="row wrap">
	<div fxFlex="15"
		 fxHide.lt-lg></div>

	<div fxFlex
		 fxLayout="column"
		 class="auth-form">
		<ng-container *ngIf="(view$ | async) === 'LOGIN'">
			<app-login (emailLogin)="emailLogin($event)"> </app-login>
		</ng-container>

		<ng-container *ngIf="(view$ | async) === 'REGISTER'">
			<app-register [permissions]="permissions$ | async"
						  (register)="register($event)"> </app-register>
		</ng-container>

		<ng-container *ngIf="(view$ | async) === 'FORGOT'">
			<app-forgot [emailSent]="emailSent"
						(forgot)="resetForgottenPassword($event)"> </app-forgot>
		</ng-container>
	</div>

	<div fxFlex
		 fxLayout="column">
		<button class="oAuth-button google-button"
				mat-raised-button
				(click)="googleoAuthLogin()">
			<img class="oAuth-image"
				 src="../../../../assets/images/oAuth-google-icon.png" />
			Continue with Google
		</button>
		<button matTooltip="Doesn't Work"
				class="oAuth-button facebook-button"
				mat-raised-button>
			<img class="oAuth-image"
				 src="../../../../assets/images/oAuth-facebook-icon.png" />
			Continue with Facebook
		</button>
	</div>

	<div fxFlex="15"
		 fxHide.lt-lg></div>
</div>
