<form [formGroup]="demographicForm"
	  (ngSubmit)="onSubmit(demographicForm)">

	<div fxLayout="row wrap"
		 fxLayoutGap="2%">
		<mat-form-field fxFlex>
			<mat-label>gender</mat-label>
			<mat-select formControlName="gender">
				<mat-option *ngFor="let gender of genderList"
							[value]="gender">
					{{ gender}}
				</mat-option>
			</mat-select>
		</mat-form-field>


		<mat-form-field fxFlex>
			<mat-label>race</mat-label>
			<mat-select formControlName="race">
				<mat-option *ngFor="let race of raceList"
							[value]="race">
					{{ race }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<mat-form-field fxFlex>
			<input matInput
				   formControlName="age"
				   placeholder="age"
				   type="number">
			<mat-error>
				{{ getErrorMessage(demographicForm.get('age')) }}
			</mat-error>
		</mat-form-field>

	</div>


	<button mat-raised-button
			type="submit"
			color="primary"
			[disabled]="demographicForm.touched && demographicForm.invalid">
		Submit
	</button>
</form>
