.image-container {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.image-overlay {
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
}

.image-legible {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.image-static {
  object-fit: cover;
  overflow: hidden;
}

.image-responsive {
  object-fit: contain;
  overflow: hidden;
}
