
.master {
  position: absolute;
  z-index: 4;
}

.component {
  width: 100%;
  height: 100%;
}

/* MOBILE STYLES */
.mobile {
  .global {

    &.header {
      z-index: 1;
      position: absolute;
      top: 0;
      right: 0;
      height: 15vh;
      width: 100vw;
      max-width: 100%;
    }
    &.main {
      z-index: 2;
      position: absolute;
      top: 0;
      right: 0;
      height: 100vh;
      width: 100vw;
      max-width: 100%;
    }
    &.footer {
      z-index: 2;
      position: fixed;
      right: 0;
      bottom: 0;
      width: 100vw;
      max-width: 100%;
    }
  }


  .container {
    &.header {
      position: absolute;
      z-index: 2;
      height: 10vh;
      width: 100vw;
      max-width: 100%;
    }
    &.main {
      position: absolute;
      z-index: 1;
      top: 10vh;
      right: 0;
      min-height: 90vh;
      width: 100vw;
      max-width: 100%;
    }
  }
}

/* DESKTOP STYLES */
.desktop {

  .global {
    &.header {
      height: 10vh;
      width: 100vw;
      max-width: 100%;
    }
    &.main {
      min-height: 100vh;
      width: 100vw;
      max-width: 100%;
    }
  }

  .container {
    &.header {
      height: 10vh;
      width: 100vw;
      max-width: 100%;
      margin: 0px;
    }
    &.main {
      min-height: 80vh;
      width: 100vw;
      max-width: 100%;
    }
  }
}