// angular color guide:  https://material.io/design/color/#tools-for-picking-colors
// note:  colors are at the very bottom

// Here is Material Designs Theme Color Tester:  https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=66BB6A&secondary.color=C62828
// Here is a color calculator to find the correct primary and accent colors:  https://www.sessions.edu/color-calculator/


// how it works:
// there is a primary color, and accent color, and a warning color.  Each of these is used automatically with all material design themes
// the syntax is $theme-name: mat-palette($mat-color, default-shade, lighter-shade, darker-shade)
// $mat-color is a color that corresponds to material designs default style guide.  Same with the shades.  it is linked above

// RBC theme:  Primary:  #80cbc4 / teal 200 :::::  Secondary:  ##ff8a80 / red A100

@import '~@angular/material/theming';

$app-primary: mat-palette($mat-indigo, 300);
$app-accent:  mat-palette($mat-indigo, 500);
$app-warn:    mat-palette($mat-red);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);


