/* Responsive Typography */
$breakpoint-xsmall: 480px;
$breakpoint-small: 960px;
$breakpoint-medium: 1280px;
$breakpoint-large: 1600px;
$breakpoint-xlarge: 1920px;

@media only screen and (max-width: $breakpoint-small) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-large) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: $breakpoint-large) {
  html {
    font-size: 20px;
  }
}

@import '~@angular/material/theming';
$responsive-typograpy:  mat-typography-config(
  $font-family:   'Roboto, "Helvetica Neue", sans-serif',
  $display-4:     mat-typography-level(7rem, 7rem, 300),
  $display-3:     mat-typography-level(3.5rem, 3.5rem, 400),
  $display-2:     mat-typography-level(2.8125rem, 3rem, 400),
  $display-1:     mat-typography-level(2.125rem, 2.5rem, 400),
  $headline:      mat-typography-level(1.5rem, 2rem, 400),
  $title:         mat-typography-level(1.25rem, 2rem, 500),
  $subheading-2:  mat-typography-level(1rem, 1.75rem, 400),
  $subheading-1:  mat-typography-level(0.9375rem, 1.5rem, 400),
  $body-2:        mat-typography-level(0.875rem 1.5rem, 500),
  $body-1:        mat-typography-level(0.875rem, 1.25rem, 400),
  $caption:       mat-typography-level(0.75rem, 1.25rem, 400),
  $button:        mat-typography-level(0.875rem, 0.875rem, 500),
  $input:         mat-typography-level(16px, 1.125, 400)
);
