/* You can add global styles to this file, and also import other style files */
@import './variables.scss';
@import './themes.scss';
@import './images.scss';
@import './typography.scss';
@import './images.scss';
@import './layout.scss';

@import './colors/teal.scss';

@include mat-core($responsive-typograpy);

/* Reset */
html, body, div, ul {
  border: 0px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

/* layout */
.center-text {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0;
}

.gradient {
  color: white;
  background: #2980B9;  /* fallback for old browsers */
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.mat-checkbox-label {
  line-height: 2 !important;
}

/* 
COLORS:

$amber-A100: #FFE57F;
$amber-A200: #FFD740;
$amber-A400: #FFC400;
$amber-A700: #FFAB00;
$blue-A100: #82B1FF;
$blue-A200: #448AFF;
$blue-A400: #2979FF;
$blue-A700: #2962FF;
$teal-A100: #A7FFEB;
$teal-A200: #64FFDA;
$teal-A400: #1DE9B6;
$teal-A700: #00BFA5;
$red-A100: #ff8a80;
$red-A200: #ff5252;
$red-A400: #ff1744;
$red-A700: #d50000;
$purple-A100: #EA80FC;
$purple-A200: #E040FB;
$purple-A400: #D500F9;
$purple-A700: #AA00FF;
$pink-A100: #FF80AB;
$pink-A200: #FF4081;
$pink-A400: #F50057;
$pink-A700: #C51162;
$orange-A100: #FFD180;
$orange-A200: #FFAB40;
$orange-A400: #FF9100;
$orange-A700: #FF6D00;
$lime-A100: #F4FF81;
$lime-A200: #EEFF41;
$lime-A400: #C6FF00;
$lime-A700: #AEEA00;
$light-green-A100: #CCFF90;
$light-green-A200: #B2FF59;
$light-green-A400: #76FF03;
$light-green-A700: #64DD17;
$light-blue-A100: #80D8FF;
$light-blue-A200: #40C4FF;
$light-blue-A400: #00B0FF;
$light-blue-A700: #0091EA;
$indigo-A100: #8C9EFF;
$indigo-A200: #536DFE;
$indigo-A400: #3D5AFE;
$indigo-A700: #304FFE;
$green-A100: #B9F6CA;
$green-A200: #69F0AE;
$green-A400: #00E676;
$green-A700: #00C853;
$deep-purple-A100: #B388FF;
$deep-purple-A200: #7C4DFF;
$deep-purple-A400: #651FFF;
$deep-purple-A700: #6200EA;
$deep-orange-A100: #FF9E80;
$deep-orange-A200: #FF6E40;
$deep-orange-A400: #FF3D00;
$deep-orange-A700: #DD2C00;
$cyan-A100: #84FFFF;
$cyan-A200: #18FFFF;
$cyan-A400: #00E5FF;
$cyan-A700: #00B8D4;
 */