<div ngClass.lt-md="mobile"
	 ngClass.gt-sm="desktop">

	<main class="global main">
		<app-header [permissions]="permissions$ | async"
					(toggleSidebar)="toggleSidebar()"
					[sidebarOpen]="sidebarOpen">
		</app-header>

		<app-sidebar [permissions]="permissions$ | async"
					 [sidebarOpen]="sidebarOpen"
					 (toggleSidebar)="toggleSidebar()"
					 *ngIf="sidebarOpen">
		</app-sidebar>

		<router-outlet></router-outlet>
	</main>

	<app-footer [currentFeature]="currentFeature$ | async"
				[permissions]="permissions$ | async"
				(toggleSidebar)="toggleSidebar()"
				[sidebarOpen]="sidebarOpen">
	</app-footer>
</div>
